.header {
  font-size: 14px;
  font-weight: bold;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  a {
    &:hover {
      color: #6c6c6c;
    }
  }
}

.container {
  h4 {
    font-size: 14px;
    line-height: 16px;
  }
}
